@model gmapRDv1.Models.Practices


@{
    ViewData["Title"] = "Edit";
}

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAT8DIEC_kxOQbKy5hhFKdydtcuSkxCWIs&callback=initMap"></script>
<script type="text/javascript">
    var markers = @Html.Raw(ViewBag.Markers);
    function initMap()
    {
        var mapOptions =
            {
                center: new google.maps.LatLng(markers[0].lat, markers[0].lng),
                zoom: 15,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

        var map = new google.maps.Map(document.getElementById("map"), mapOptions);

        for (i = 0; i < markers.length; i++)
        {
            var data = markers[i];
            var myLatlng = new google.maps.LatLng(data.lat, data.lng);
            var marker = new google.maps.Marker(
                {
                    position: myLatlng,
                    map: map,
                    title: data.title,
                    draggable: true
                });
            setMarker(marker, data);
        }
    }
    function getAddress()
    {
        var markers = @Html.Raw(ViewBag.Markers);
        var data = markers[0];
        var address = document.getElementById('Gaddress').value;
        var geocoder = new google.maps.Geocoder();

        geocoder.geocode( { 'address': address },
            function (results, status)
            {
                if (status === google.maps.GeocoderStatus.OK)
                {
                    var mapOptions =
                        {
                            center: new google.maps.LatLng(results[0].geometry.location.lat(), results[0].geometry.location.lng()),
                            zoom: 15,
                            mapTypeId: google.maps.MapTypeId.ROADMAP
                        };

                    var map = new google.maps.Map(document.getElementById("map"), mapOptions);

                    var marker = new google.maps.Marker(
                        {
                            map: map,
                            position: results[0].geometry.location,
                            draggable: true,
                            title: data.title
                        });

                    document.getElementById('current').innerHTML = '<p>Marker dropped: Current Lat: ' + results[0].geometry.location.lat() + ' Current Lng: ' + results[0].geometry.location.lng(); + '</p>';
                    document.getElementById('Glat').value = results[0].geometry.location.lat();
                    document.getElementById('Glon').value = results[0].geometry.location.lng();
                    data.description = address;
                    setMarker(marker, data);
                }
                else
                {
                    document.getElementById('current').innerHTML = '<p>' + status + '</p>';
                }
            });
    }

    function setMarker(marker, data)
    {
        var infoWindow = new google.maps.InfoWindow();
        google.maps.event.addListener(marker, "click", function (e)
        {
            infoWindow.setContent(data.description);
            infoWindow.open(map, marker);
        }); 

        google.maps.event.addListener(marker, 'dragend', function (evt)
        {
            document.getElementById('current').innerHTML = '<p>Marker dropped: Current Lat: ' + evt.latLng.lat().toFixed(6) + ' Current Lng: ' + evt.latLng.lng().toFixed(6) + '</p>';
            document.getElementById('Glat').value = evt.latLng.lat().toFixed(6);
            document.getElementById('Glon').value = evt.latLng.lng().toFixed(6);
        });

        google.maps.event.addListener(marker, 'dragstart', function (evt)
        {
            document.getElementById('current').innerHTML = '<p>Currently dragging marker...</p>';
        });
    }
</script>

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Practices</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="PracticeId" />
        <div class="form-group">
            <label asp-for="ZipCode" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ZipCode" class="form-control" />
                <span asp-validation-for="ZipCode" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Title" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Info" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Info" class="form-control" />
                <span asp-validation-for="Info" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ContactNumbers" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ContactNumbers" class="form-control" />
                <span asp-validation-for="ContactNumbers" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Hours" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Hours" class="form-control" />
                <span asp-validation-for="Hours" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Services" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Services" class="form-control" />
                <span asp-validation-for="Services" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Promotion" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Promotion" class="form-control" />
                <span asp-validation-for="Promotion" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="BrandId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="BrandId" class="form-control" />
                <span asp-validation-for="BrandId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Provider1" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Provider1" class="form-control" />
                <span asp-validation-for="Provider1" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Provider2" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Provider2" class="form-control" />
                <span asp-validation-for="Provider2" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UpdatedAt" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UpdatedAt" class="form-control" />
                <span asp-validation-for="UpdatedAt" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CreatedAt" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Lat" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Lat, new { @class = "form-control", id = "Glat" })
                <span asp-validation-for="Lat" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Lon" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Lon, new { @class = "form-control", id = "Glon" })
                <span asp-validation-for="Lon" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Address" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Address, new { @class = "form-control", id = "Gaddress" })
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="get Address Lat/Lon" onclick="getAddress()" class="btn btn-default" />
            </div>
        </div>
        <div class="form-group">
            <div id="map" style="width: 600px; height: 350px"></div>
            <div id="current"></div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
